@import '~antd/es/style/themes/default.less';

.title {
  margin-bottom: 16px;
  color: @heading-color;
  font-weight: 500;
  font-size: 16px;
}

.one {
  width: 64px;
  margin: auto;
}
.two {
  margin-bottom: 6px;
}
.three {
  margin-bottom: 8px;
}
.five {
  width: 86px;
}

.four{
  padding: 10px;
}

.clo{
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 36px;
  position: relative;
  
}

.cloOne{
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.cloTwo{
position: absolute;
text-align: center;
left: 30px;
height: 100%;
font-weight: 600;
font-size: 16px;
margin: auto;
}

.rowCol{
  margin-bottom: 20px;
}

.cloFour{
  box-sizing: border-box;
 
  height: 36px;
  position: relative;
}