@import '~antd/es/style/themes/default.less';

.display {
  display: flex;
  justify-content: space-between;
}
.search {
  width: 400px;
  height: 100%;
}
.containerBox {
  margin: 10px 20px;
}
.customHeadCard {
  padding: 0;
}
.top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.spaceOne {
  position: relative;
  width: 310px;
  margin: 2px 5px;
  border-radius: 2px;

  .spanTitle {
    display: flex;
    justify-content: space-around;
    padding: 7.5px 0;
    font-weight: 600;
    font-size: 16px;
    background-color: #fafafa;

    span {
      &:last-child {
        cursor: pointer;
      }
      &:last-child:hover {
        color: #269f99;
      }
    }
  }
  div {
    flex-basis: 0 0 1;
    flex-grow: 1;
    font-weight: 600;
    text-align: left;
  }
}
.customCreateBtn {
  color: black;
  cursor: pointer;
}
.rankHeader {
  color: black;
  cursor: text !important;
  span {
    &:last-child {
      cursor: text !important;
    }
    &:last-child:hover {
      color: black !important;
    }
  }
}
.leadTitle {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  font-weight: 600;
  font-size: 16px;
  div {
    flex-basis: 0;
    flex-grow: 1;
    white-space: pre-wrap;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #269f99;
    }

    &:last-child {
      margin-right: 10px;
      text-align: right;
    }
  }
}

.leadTitle:nth-last-child {
  text-align: right;
}

.iconOne {
  font-size: 20px;
}

.cardOne {
  justify-content: space-around;
  width: 300px;
  height: 360px;
  font-weight: 500;
  background-color: #f4f5f7;
}
.textOne {
  text-align: left;
}

.horScroll {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  .titleOne {
    margin-top: -4px;
    padding: 7.5px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
  }
}
.spaceAll {
  display: flex;
  // background-color: ;
}

.touchPointCol {
  position: relative;
  flex-direction: column;
  width: 310px;
  margin: 2px 5px;
  padding: 4px;
  border-radius: 10px;
}

.emptyCard {
  width: 300px;
  height: 360px;
  margin: 8px 0 0 0;
  background-color: transparent;
  .btnCreate {
    position: relative;
    top: 80px;
    left: 25%;
    font-weight: normal;
    font-size: 15px;
    font-style: normal;
    line-height: 2px;
    background: transparent;
    border-color: black;
  }
}
.viewmore {
  margin: 5px;
  font-weight: 600;
  text-align: center;
}

.phaseCard {
  width: 300px;
  height: 360px;
  margin: 8px 0 0 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  .cardTwoOne {
    position: relative;
    top: -12px;
    font-weight: 600;
  }

  .btnOne {
    font-weight: 600;
    font-size: 15px;
    background: #efdbff;
    border-radius: 10px;
  }
  .customTaskTag {
    margin: 2px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
  }
}
.statusTag {
  position: absolute;
  top: -4px;
  left: 12px;
  display: inline;
  padding: 2px 12px;
  color: white;
  font-weight: 600;
  border-radius: 0 0 6px 6px;
}
.donePhase {
  border-top: 5px solid #7cb305;
}
.doneStatusTag {
  background: #7cb305;
}
.inprogessPhase {
  border-top: 5px solid #1890ff;
}
.inprogessStatusTag {
  background: #1890ff;
}
.daftPhase {
  border-top: 5px solid #bfbfbf;
}
.daftStatusTag {
  background: #bfbfbf;
}

.dotIcon {
  color: red;
}

.titleTwo {
  position: relative;
  top: 12px;
  align-items: center;
  margin-top: -12px;
  font-weight: 600;
  font-size: 14px;
}

.customDivider {
  margin: 5px 0;
  margin-bottom: 7px;
  background-color: rgba(217, 217, 217, 0.5);
}
.spaceTouchpoint {
  min-height: 155px;
  margin: -12px;
  padding: 0;
}
.phaseCardOne {
  padding-left: 5px;
  color: black;
  font-weight: 600;
  font-size: large;
}
.counttime {
  align-items: center;
  padding-top: 5px;
  color: black;
  font-weight: normal;
  font-size: small;
}
.goalText {
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: normal;
}
.spanTwo {
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.textTouchpoint {
  flex: 2;
  font-weight: 600;
}

.avatarPIC {
  margin-top: 4px;

  img {
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: 50%;
  }
}
.taskDueDate {
  float: right;
  margin-right: 15px;
}
.spaceTask {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.textTwo {
  padding-right: 40px;
  font-weight: 600;
}
.spcing {
  margin-top: -8px;
}
.meetingDate {
  font-weight: 600;
  font-size: 16px;
}
