@import '~antd/es/style/themes/default.less';

.main {
  width: 75%;
  max-width: 545px;
  padding: 1rem;
  @media screen and (max-width: @screen-sm) {
    width: 100%;
  }
}

.updateTouchPointButton {
  position: absolute;
  top: 0;
  right: 8px;
  box-sizing: border-box;
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.customModal {
  padding: 0;

  :global {
    .ant-modal-header{
      border-bottom: none;
    }
  }

}
    .customModalFooter{
      text-align: right;
      background: white;

      button {
        margin-right: 16px;
      }
    }

    .customBodyModal{
      background: white;
      margin-bottom: 50px;
      height: 100%;
    }

.customSpin{
  height: 100%;
    width: 100%;
    text-align: center;
}

.header {
  display: inline;
}
.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.resultNotFound {
  color: #000;
  opacity: 0.65;
}

.createNewContact {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.createNewContact:hover {
  background: #f5f5f5;
}

.customDevider {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.customField {
  margin-left: 10px;
}
