@import '~antd/es/style/themes/default.less';

.main {
  width: 75%;
  max-width: 545px;
  padding: 1rem;
  @media screen and (max-width: @screen-sm) {
    width: 100%;
  }
}

.updateTouchPointButton {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  color: white;
  font-weight: bold;
  background: #269f99;
}

.header {
  display: inline;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.customModal {
  width: 50% !important;
}
