@import '~antd/es/style/themes/default.less';

.title {
  margin-bottom: 16px;
  color: @heading-color;
  font-weight: 500;
  font-size: 16px;
}

.one {
  width: 64px;
  margin: auto;
}
.two {
  margin-bottom: 6px;
}
.three {
  margin-bottom: 8px;
}
.five {
  width: 86px;
}
