@import '~antd/es/style/themes/default.less';

.main {
  padding: 1rem;
}

.getAll {
  width: 587px;
  margin-left: 28px;
}

.header {
  display: inline;
}
.icon {
  margin: 8px 0;
  font-size: medium;
}
.iconOne {
  margin: 5px -9px 0 7px;
  font-size: medium;
}
.editLabel {
  position: relative;
  left: -9px;
}
.title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.one {
  margin-left: 0;
}

.two {
  margin-left: 0;
}

.deletebutton {
  margin: 8px 8px;
}

.doubleInput {
  padding-left: 10em;
}

.optionCreate {
  cursor: pointer;
}

.customLayoutRow {
  display: flex;
  width: 106%;

  // &>:nth-child(1) {
  //   flex: 1 65%;
  // }
  // &>:nth-child(2) {
  //   flex: 1 45%;
  // }
}
.resultNotFound {
  color: #000;
  opacity: 0.65;
}

.createNewContact {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.createNewContact:hover {
  background: #f5f5f5;
}
.editInput {
  display: flex;
}
.customEmptySpace {
  color: transparent;
  font-size: 0.9rem;
}
.phoneFormItem {
  width: 100%;
  margin-right: 8px;
  margin-bottom: 10px;

  :global {
    .ant-input-group-addon {
      line-height: 1;
    }
  }
}
.getInput {
  width: 101.5%;
}
.phoneFormItemOne {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
  :global {
    .ant-input-group-addon {
      line-height: 1;
    }
  }
}

.urlFormItem {
  width: 70%;
  margin-bottom: 10px !important;
}

.typeFormItem {
  width: 20%;
  margin: 0 !important;

  :global {
    .ant-form-item-explain {
      position: absolute;
      top: 100%;
    }
  }
}

.customDivider {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.addButton {
  height: 40px;
  line-height: 1;
  border-radius: 4px;
}

.spaceInput {
  width: 160%;
  height: 32px;
}
.tag {
  width: 100%;
}
.address {
  width: 90%;
}
.edit {
  width: 150px;
  margin: auto;
  padding-top: 15px;
}
.editOne {
  margin-top: -2px;
}

.editButton {
  min-width: 80px;
  border-radius: 4px;
}
.editButtonOne {
  left: 47px;
  min-width: 80px;
  background-color: #1890ff;
  border-radius: 4px;
}
.editButtonTwo {
  left: 20px;
  min-width: 80px;
  background-color: #1890ff;
  border-radius: 4px;
}

.aroundBtn {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin-top: 36px;
}

.search {
  width: 400px;
}
.customUl {
  display: flex;
  float: left;
  padding: 0;
  list-style-type: none;
}
.containerBox {
  margin: 10px 20px;
}
.top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.tagM {
  margin-top: 4px;
}

.customField,
.customFieldContact {
  font-weight: 500;
  font-size: 14px;
}

.customField:hover {
  color: black;
}

.customFieldContact:hover a {
  color: #269f99;
}

.customCell {
  margin: 1px 3px;
  font-size: 14px;
}

.create_btn {
  margin: 0 0 18px 12px;
  background-color: #1890ff;
  border-radius: 4px;
}
ul.customUl > li {
  margin-left: 50%;
  :hover {
    color: blue;
  }
}
.editTable {
  margin-left: 38px;
}
.editBread {
  margin-bottom: 20px;
}
