@import '~antd/es/style/themes/default.less';

.main {
  width: 75%;
  max-width: 545px;
  padding: 1rem;
  @media screen and (max-width: @screen-sm) {
    width: 100%;
  }
}

.header {
  display: inline;
}

.title {
  font-weight: bold;
  font-size: 20px;
}
