@import '~antd/es/style/themes/default.less';

.main {
  position: relative;
  width: 75%;
  max-width: 800px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  padding-top: 0;
  @media screen and (max-width: @screen-sm) {
    width: 100%;
  }
}
.getAll {
  width: 587px;
  margin-left: 28px;
}
.typeFormItem {
  width: 55%;
  margin: 0 !important;

  :global {
    .ant-form-item-explain {
      position: absolute;
      top: 100%;
    }
  }
}
.icon {
  margin: auto 8px;
  font-size: medium;
}
.addButton {
  height: 40px;
  line-height: 1;
  border-radius: 4px;
}
.customLayoutRow {
  display: flex;
  width: 106%;

  // &>:nth-child(1) {
  //   flex: 1 65%;
  // }
  // &>:nth-child(2) {
  //   flex: 1 45%;
  // }
}
.phoneFormItem {
  width: 100%;
  margin-bottom: 10px !important;

  :global {
    .ant-input-group-addon {
      line-height: 1;
    }
  }
}
.createBtn {
  border-radius: 4px;
}
.header {
  display: inline;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.customRow {
  margin-bottom: 0;
}

.childrenRow {
  margin-bottom: 5px;
}

.childrenRowWithLabel {
  margin-bottom: 5px;
  margin-left: -7px;
}

.customDeleteButton {
  margin: 8px 8px;
  font-size: 0.9rem;
}

.customEmptySpace {
  margin: 8px 8px;
  color: transparent;
  font-size: 0.9rem;
}
.customDeleteAddressButton {
  margin: 8px;
  font-size: 0.9rem;
}

.customButtonAdd {
  width: 100%;
  height: auto;
  padding: 5px;
}
.tag {
  width: 100%;
}
.address {
  width: 90%;
}
.editOne {
  margin-top: -2px;
}
.validatePadding {
  margin-bottom: 12px;
}
.editBtn {
  margin-right: 82px;
  margin-left: 93px;
}

.aroundBtn {
  display: flex;
  justify-content: space-around;
}

.search {
  width: 400px;
}

.containerBox {
  margin: 10px 20px;
}
.top {
  margin: 10px 0;
}

.customUl {
  display: flex;
  float: left;
  padding: 0;
  list-style-type: none;
}

.customField,
.customFieldContact {
  font-weight: 500;
  font-size: 14px;
}

.customField:hover {
  color: black;
}

.customFieldContact:hover a {
  color: #269f99;
}
.customCell {
  font-size: 14px;
}

ul.customUl > li {
  margin-left: 50%;
  :hover {
    color: blue;
  }
}
.editBread {
  margin-bottom: 20px;
}
.editBreadOne {
  margin-top: 10px;
  margin-bottom: 20px;
}
