@import '~antd/es/style/themes/default.less';

.main {
  position: relative;
  width: 75%;
  max-width: 545px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  padding-top: 0;
  @media screen and (max-width: @screen-sm) {
    width: 100%;
  }
}

.createBtn {
  margin: 0 0 18px 12px;
  background-color: #1890ff;
  border-radius: 4px;
}
.header {
  display: inline;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.customRow {
  margin-bottom: 10px;
}

.childrenRow {
  margin-bottom: 5px;
}

.customDeleteButton {
  margin: 8px 8px;
  font-size: 0.9rem;
}
.customDeleteAddressButton {
  margin: 8px;
  font-size: 0.9rem;
}

.customButtonAdd {
  width: 100%;
  height: auto;
  padding: 5px;
}
.tag {
  width: 100%;
}
.address {
  width: 90%;
}
.editOne {
  margin-top: -6px;
}
.editBtn {
  margin-right: 82px;
  margin-left: 93px;
}

.aroundBtn {
  display: flex;
  justify-content: space-around;
}

.search {
  width: 400px;
}

.containerBox {
  margin: 10px 20px;
}
.top {
  margin: 10px 0;
}

.customUl {
  display: flex;
  float: left;
  padding: 0;
  list-style-type: none;
}

.customField,
.customFieldContact {
  font-weight: 500;
  font-size: 14px;
}

.customField:hover {
  color: black;
}

.customFieldContact:hover a {
  color: #269f99;
}
.customCell {
  font-size: 14px;
}

ul.customUl > li {
  margin-left: 50%;
  :hover {
    color: blue;
  }
}
.editBread {
  margin-bottom: 20px;
}
.editBreadOne {
  margin-top: 10px;
  margin-bottom: 20px;
}
