@import '~antd/es/style/themes/default.less';

.small {
  display: flex;
  justify-content: space-between;
  height: 757px;
  background-color: #f8f8f8;
}
.icon {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @primary-color;
  }
}

.cusForm {
  width: 500px;
  height: 650px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 #e2eae8;
  transform: translate(20%, 12%);
}

.titleOne {
  margin: auto;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.mediumOne {
  width: 84%;
  transform: translate(12%, 76%);
}

.inputOne {
  height: 40px;
  padding: 0;
  padding: 6px 11px;
  font-size: 16px;
  line-height: 28px;
  transition: all 0.3s;
}
.butt {
  width: 100%;
  margin-top: 68px;
  font-size: 18px;
  border-radius: 8px;
}
.imgMain {
  transform: translate(0%, 16%);
}
.logo {
  width: 568px;
}
.demo {
  display: flex;
  justify-content: space-between;
}
.text {
  color: rgb(204, 204, 204);
  text-align: right;
}
