@import '~antd/es/style/themes/default.less';

.main {
  position: relative;
  width: 75%;
  max-width: 545px;
  padding: 1rem;
  @media screen and (max-width: @screen-sm) {
    width: 100%;
  }
}

.header {
  display: inline;
}
.title {
  font-weight: bold;
  font-size: 20px;
}

.customCol {
  width: 100%;

  > .ant-col-16 {
    width: 100%;
  }
}

.slt {
  width: 100%;
}

.sltOne {
  margin: 8px 8px;
}
.sltTwo {
  margin: 0 8px;
}
.tag {
  width: 100%;
}
.address {
  width: 90%;
}
