.cardLead {
  position: relative;
  min-height: 85px;
  margin: 0;
  margin-bottom: 2px;
  // background: #d4e2ec;
  background: #efefef;
  border-radius: 3px;

  .contentBox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    overflow: hidden;
    overflow-y: auto;
    border-top: 4px solid;
    border-radius: 3px;

    .pic {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      margin-bottom: 2px;

      .picAvatar {
        .avatar {
          width: 20px;
          height: 20px;

          img {
            width: 100%;
            margin: 0;
            vertical-align: middle;
          }
        }
      }
      // .picIcon {

      // }
    }

    .showPlanning {
      margin-top: 10px;
      color: #373d4042;
      text-align: center;
    }

    .leadName {
      margin: 2px 0;
      padding-right: 25px;
      font-size: 14px;
    }

    .meetingDateBox {
      display: flex;
      justify-content: space-between;

      .meetingDate {
        margin: 2px 0;
        padding: 0 2px;
        color: white;
        font-weight: 600;
        border-radius: 3px;
      }

      .dueDay {
        line-height: 200%;
      }
    }
  }
  .rankTitle {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: #35b4ac;
    border-bottom-left-radius: 5px;

    span {
      padding: 10px;
      font-weight: 700;
      cursor: default;
    }
  }
}
