@import '~antd/es/style/themes/default.less';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #656565e6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cardLead {
  height: calc(100vh / 4 - 5px);
  font-size: 14px;
  line-height: 120px;
  background: #0092ff;
  border: 1px solid #ebeff2;
  border-radius: 5px;
}
.cardCol {
  padding: 0 !important;
}
.laneName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh / 4 - 5px);
  margin: 0 4px;
  background: #bcc0c2;

  h3 {
    font-weight: 700;
    text-align: center;
  }
}
.lane {
  // width: 100%;
  // margin: 10px 5px !important;
  // overflow-x: scroll;
  flex-wrap: nowrap;
}
.containerBox {
  display: flex;
  margin: 10px;
  // width: 100%;
  // margin: 10px 5px !important;
  // overflow-x: scroll;
  // flex-wrap: nowrap;
}
.lanePlace {
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 5px;
  padding-top: 9px;
  padding-left: 5px;
  overflow-x: scroll;
}
.laneNameCol {
  display: flex;
  flex-direction: column;
  float: left;
  width: 100px;
}
.touchPointNav {
  margin-top: 10px;
  margin-left: 110px;
}
.touchPoint {
  padding: 0 !important;
  // margin: auto;

  h1 {
    margin: 0;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    background: #b0b0b0;
    border: 1px solid white;
    border-radius: 5px;
  }
}
